<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Personal CSS -->
    <link rel="stylesheet" href="/css/user-auth.css">
  </head>

  <!-- Navigationbar -->
  <nav class="navbar navbar-expand-sm navbar-light bg-nav fixed-top">
    <a class="navbar-brand" href="#">Welcome to tracking system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#">Items/tools</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#">Job form</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#">Item List</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#">Job List</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Navigationbar end -->

  <body class="text-center">
    <form class="form-signin" action="/user/sign-in" method="POST">
      <img class="mb-4" src="../img/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
  </body>
</html>
