<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>InventoryTable</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Personal CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <!-- Navigationbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-nav fixed-top">
      <a class="navbar-brand" href="#">InventoryTable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">InventoryTable</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">JobTable</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#">ToolTable</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/user/sign-out" method="POST">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <!-- Navigationbar end -->

    <main role="main" class="container">

      <h2>Inventory Table</h2>

      <h4>Add New Inventory Item (make this a button)</h4>
      <a href="/get-data"></a>

      <table>
        <tr>
          <th>Item ID</th>
          <th>Type</th>
          <th>Description</th>
          <th>Length</th>
          <th>Width</th>
          <th>Height</th>
          <th>Scrap?</th>
          <th>Last Update</th>
          <th>Employee</th>
        </tr>
        <tr>
          <td>0971</td>
          <td>Aluminum Sheet</th>
          <td>Much shiny, so thick, very aluminum</td>
          <td>100.0"</td>
          <td>300.0"</td>
          <td>2.0"</td>
          <td>No</td>
          <td>12/3/2019</td>
          <td>Mahdi</td>
        </tr>
        <tr>
          <td>9076</td>
          <td>Steel Things</th>
          <td>Okay but this is not a suggestion</td>
          <td>10.0"</td>
          <td>1.1"</td>
          <td>1.0"</td>
          <td>No</td>
          <td>12/2/2019</td>
          <td>Carlos</td>
        </tr>
        <tr>
          <td>51</td>
          <td>Plutonium</th>
          <td>This is actually incredibly expensive please don't be wasteful</td>
          <td>.1 nm</td>
          <td>.1 nm</td>
          <td>.2 nm</td>
          <td>No</td>
          <td>2/10/2019</td>
          <td>Chase</td>
        </tr>
        <tr>
          <td>098123</td>
          <td>Titanium Plate</th>
          <td>This has been drilled by the Big Drill. Looks like swiss cheese.</td>
          <td>10.1987123"</td>
          <td>31.111111"</td>
          <td>.1"</td>
          <td>Yes</td>
          <td>11/37/2019</td>
          <td>Mahdi</td>
        </tr>
        <tr>
          <td>0971</td>
          <td>Aluminum Sheet</th>
          <td>Much shiny, so thick, very aluminum</td>
          <td>100.0"</td>
          <td>300.0"</td>
          <td>2.0"</td>
          <td>No</td>
          <td>12/3/2019</td>
          <td>Mahdi</td>
        </tr>
        <tr>
          <td>9076</td>
          <td>Steel Things</th>
          <td>Okay but this is not a suggestion</td>
          <td>10.0"</td>
          <td>1.1"</td>
          <td>1.0"</td>
          <td>No</td>
          <td>12/2/2019</td>
          <td>Carlos</td>
        </tr>
        <tr>
          <td>51</td>
          <td>Plutonium</th>
          <td>This is actually incredibly expensive please don't be wasteful</td>
          <td>.1 nm</td>
          <td>.1 nm</td>
          <td>.2 nm</td>
          <td>No</td>
          <td>2/10/2019</td>
          <td>Chase</td>
        </tr>
        <tr>
          <td>098123</td>
          <td>Titanium Plate</th>
          <td>This has been drilled by the Big Drill. Looks like swiss cheese.</td>
          <td>10.1987123"</td>
          <td>31.111111"</td>
          <td>.1"</td>
          <td>Yes</td>
          <td>11/37/2019</td>
          <td>Mahdi</td>
        </tr>
      </table>
      </div>

    </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
